* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  border-bottom: 1px solid #eaeaea;
  background-color: #fff;
}


.logo {
  font-size: 28px;
  font-weight: 600;
  color: rgb(126, 156, 255);
}

nav a {
  text-decoration: none;
  color: #444;
  margin: 0 15px;
  font-weight: 600;

}

nav a.active {
  color: rgb(126, 156, 255);
}

nav a:hover {
  color: rgb(126, 156, 255);
}

.about {
  width: 100%;
  background: rgb(167, 188, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 60px 0;

}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  gap: 40px;
}

.about-container.reverse {
  /*getting the text on the right and the photos on the left*/
  flex-direction: reverse;
}

.about-text {
  width: 50%;
  color: #fff;
  font-family: 'Poppins', Arial, sans-serif;
}

.about-text h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 600;

}

.photos {
  width: 45%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.photos img {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.photos img:hover {
  transform: scale(1.05);
}


footer {
  background-color: #f8f9ff;
  text-align: center;
  padding: 25px 10px;
  font-size: 15px;
}

footer p {
  margin-bottom: 10px;
  color: rgb(126, 156, 255);
  font-weight: 600;
}