

.cv {
  background-color: rgb(167, 188, 255);
  padding: 60px 0;
  display: flex;
  height: auto;
  justify-content: center;
}

h1 {
  text-align: center;
  color: rgb(126, 156, 255);
  margin-bottom: 30px;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 4px;
}

table {
  width: 80%;
  height: 50%;
  border-collapse: collapse;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  border: 1px solid #ccc;
  padding: 12px 15px;
  vertical-align: top;
}

th {
  background-color: #e8edff;
  text-align: left;
  width: 25%;
  color: rgb(126, 156, 255);
  font-weight: 600;
}

td {
  background-color: #fff;
}

.inner-table {
  width: 100%;
  border-collapse: collapse;
  /*https://www.w3schools.com/cssref/pr_border-collapse.php*/
  margin-top: 10px;
}

.inner-table th,
.inner-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.inner-table th {
  background-color: #f0f3ff;
}

a {
  color: rgb(126, 156, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

