

p {
  text-align: center;
  color: rgb(126, 156, 255);
  margin-left: 100px;
  margin-right: 100px;
  font-weight: 600;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  width: 90%;
  max-width: 1700px;
  margin: 0 auto 50px;
}

.gallery img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}

