* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  border-bottom: 1px solid #eaeaea;
  background-color: #fff;
}

.logo {
  font-size: 28px;
  font-weight: 600;
  color: rgb(126, 156, 255);
}


nav a {
  text-decoration: none;
  color: #444;
  margin: 0 15px;
  font-weight: 600;

}

nav a.active {
  color: rgb(126, 156, 255);
}

nav a:hover {
  color: rgb(126, 156, 255);
}

.index {
  position: relative;
  width: 100%;
  height: 80%;
  background: rgb(167, 188, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;   /*https://www.w3schools.com/css/css_overflow.asp*/
}

.index img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.index-content {
  color: #fff;
  font-weight: 600;
  text-align: right;
  padding-right: 50px;
}

.index-content h1 {
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 4px;
  color: white;
}

.index-content p {
  font-size: 20px;
  margin-top: 15px;
  letter-spacing: 1px;
  color: #f5f5f5;
}

footer {
  background-color: #f8f9ff;
  text-align: center;
  padding: 25px 10px;
  font-size: 15px;
}

footer p {
  margin-bottom: 10px;
  color: rgb(126, 156, 255);
  font-weight: 600;
}