

.index {
  position: relative;
  width: 100%;
  height: 80%;
  background: rgb(167, 188, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;   /*https://www.w3schools.com/css/css_overflow.asp*/
}

.index img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.index-content {
  color: #fff;
  font-weight: 600;
  text-align: right;
  padding-right: 50px;
}

.index-content h1 {
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 4px;
  color: white;
}

.index-content p {
  font-size: 20px;
  margin-top: 15px;
  letter-spacing: 1px;
  color: #f5f5f5;
}

